.inline {
    display: inline-block;
}

.no-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.no-margin {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.content-box-container {
    padding: 5px;
}

.title-box {
    color: #fa1d26;
}

.content-box-container p {
    font-size: 24px;
    font-weight: bold;
}

.line {
    background-color: #fa1d26;
}

.line.thick {
    height: 5px;
}

.line.thin {
    height: 2px;
}

.content-box {
    padding-top: 15px;
}

.content-box .line {
    background-color: #dc354580;
}

ul.red-dot {
    list-style: none;
    padding-left: 5px;
    padding-top: 10px;
}

ul.red-dot > li {
    font-size: 18px;
    font-weight: 500;
}

ul.red-dot > li a {
    color: #000000;
    text-decoration: none;
}

ul.red-dot > li a:hover {
    font-weight: 200;
}

.red-dot > li::before {
    content: "> ";
    color: #fa1d26;
}

.red-dot > li.active::before {
    content: "> ";
    color: #0F573B;
}

.title {
    padding: 5px;
}

.title.right {
    text-align: right;
    padding-right: 15px;
}

.title.left {
    text-align: left;
    padding-right: 15px;
}

.input-textfield {
    width: 100%;
    padding: 5px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #0F573B;
    margin-right: 15px;
    margin-top: 5px;
}

.input-textfield:focus {
    color: #000000;
    border-color: #0F573B;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(15, 87, 59, 0.5)
}

.content-box > .search-header {
    padding-top: 1rem;
}

.search-box > div > button {
    margin-top: 5px;
}

.search-box > div > button.right, .search-box > div > input.right {
    float: right;
}

.search-box > div > button.left, .search-box > div > input.left {
    float: left;
}

tr.centered {
    text-align: center;
    vertical-align: middle;
}

tr.centered > td, tr.centered > th {
    padding: 5px;
}